<% include /partials/header %>

<div class="ui two column centered grid">
    <div class="column">
        <% meetings.forEach(function(meeting) { %>
            <% if (currentUser) { %>
                <% if (meeting.author.id.equals(currentUser._id) || currentUser.isOfficer === true) { %>
                <br><div class="ui header">
                    <%=meeting.title%>
                    <span style="float:right;">
                        <% if (meeting.attendeeNames.indexOf(currentUser.name) <= -1) { %>
                        <a href="/attendmeeting/<%=meeting._id%>">
                                <i class="sign in icon"></i>
                        </a>
                        <% } %>
                        <a href="/editmeeting/<%=meeting._id%>">
                            <i class="edit icon"></i>
                        </a>
                        <a href="/deletemeeting/<%=meeting._id%>?_method=DELETE">
                            <i class="remove icon"></i>
                        </a>
                    </span>
                </div>
                <% } else { %>
                    <% if (meeting.attendeeNames.indexOf(currentUser.name) > -1) { %>
                    <br><div class="ui left floated header"><%=meeting.title%></div>
                    <% } else { %>
                    <br><div class="ui header">
                        <%=meeting.title%>
                        <span style="float:right;">
                            <a href="/attendmeeting/<%=meeting._id%>">
                                <i class="sign in icon"></i>
                            </a>
                        </span>
                    </div>
                    <% } %>
                <% } %>
            <% } else { %>
            <br><div class="ui left floated header"><%=meeting.title%></div>
            <% } %>
            <div class="ui clearing divider"></div>
            <p><%=meeting.text%></p>
            <p>Posted <%=meeting.posted.toDateString()%></p>
        <% }); %>
    </div>
</div>

<% include /partials/footer %>