<% include ./partials/header %>

<!--Include the slides.js library so we can do a slideshow-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slidesjs/3.0/jquery.slides.min.js"></script>

<div class="ui two column centered grid">
    <div class="column">
        <!--Image slider-->
        <div id="slides">
            <!--use ejs to access the posts object passed to the page-->
            <!--ejs tags enclose javascript functions with <% %> tags-->
            <% posts.forEach(function(post){ %>
                <!--Checks each post if it has an image-->
                <% if (post.image === "") { %>
                    <% return %>
                <% } else { %>
                    <!--If the post has an image, ejs makes an image with the source equal to the url of the image on Cloudinay-->
                    <img class="ui centered medium image" src="<%=post.image%>"> <!--use <%= %> tags to access a particular part of the object passed to the page-->
                <% } %>
            <% }) %>
            <!--Navigation buttons. You can remove the style="display:none;" tags to enable them-->
            <a href="#" class="slidesjs-previous slidesjs-navigation" title="Previous" style="display:none;"><i class="chevron left icon"></i></a>
            <a href="#" class="slidesjs-next slidesjs-navigation" title="Next" style="display:none;"><i class="chevron right icon"></i></a>
        </div>
    </div>
</div>

<div class="ui horizontal divider">Posts</div>

<div class="ui two column centered grid">
    <div class="column">
        <% posts.forEach(function(post) { %>
            <!--Before doing any operations on checking a currentUser object, we should check if there the person making the request is logged in first-->
            <% if (currentUser) { %>
                <!--Then, we can check if the person making the request is either the author of the post or an officer-->
                <% if (post.author.id.equals(currentUser._id) || currentUser.isOfficer === true) { %>
                <br><div class="ui header">
                    <%=post.title%>
                    <span style="float:right;">
                        <!--If they are an officer, display the delete button and edit button-->
                        <!--When deleting a item, we usually make a DELETE request. However, links can only make GET requests-->
                        <!--Although unorthodox, we make a GET request to /deletepost/post_id that will find and delete the post if a query condition is met-->
                        <a href="/deletepost/<%=post._id%>?_method=DELETE">
                            <i class="remove icon"></i>
                        </a>
                        <a href="/editpost/<%=post._id%>">
                            <i class="edit icon"></i>
                        </a>
                    </span>
                </div>
                <% } %>
            <% } else { %>
            <br><div class="ui left floated header"><%=post.title%></div>
            <% } %>
        <div class="ui clearing divider"></div>
        <div class="ui medium image">
            <img src="<%=post.image%>">
        </div>
        <br><p><%=post.text%></p>
        <p>By <%=post.author.name%></p>
        <!--Converts the post date to a string-->
        <p>Posted <%=post.posted.toDateString()%></p>
        
        <div class="ui grid">
            <!--This nested grid is used to position the comments withing the column containing the posts-->
            <div class="one wide column"></div>
            <div class="ten wide column">
                <h5 class="ui left floated header">Comments:</h5>
                <div class="ui clearing divider"></div>
                <% if (currentUser) { %>
                <!--If there is a user, allow them to fillout the form and make comments on the post-->
                <form class="ui form" action="/createcomment/<%=post._id%>" method="POST">
                    <div class="inline fields">
                        <div class="field">
                            <input type="text" name="comment[text]" placeholder="New Comment">
                        </div>
                        <div class="field">
                            <input type="submit" value="Submit" class="ui basic button violet">
                        </div>
                    </div>
                </form>
                <% } %>
                
                <!--Show all posts and their respective icons-->
                <% post.comments.forEach(function(comment) { %>
                    <% if (currentUser) { %>
                        <% if (comment.author.id.equals(currentUser._id) || currentUser.isOfficer === true) { %>
                        <h5 class="ui header">
                            <%=comment.author.name%>
                            <span style="float:right;">
                                <a href="/deletecomment/<%=comment._id%>?_method=DELETE" style="color:black;">
                                    <i class="remove icon"></i>
                                </a>
                            </span>
                        </h5>
                        <% } else { %>
                        <h5 class="ui header"><%=comment.author.name%></h5>
                        <% } %>
                    <% } else { %>
                    <h5 class="ui header"><%=comment.author.name%></h5>
                    <% } %>
                    <p><%=comment.text%></p>
                <% }) %>
                
            </div>
            
            <div class="five wide column"></div>
        </div>
        <% }); %>
    </div>
</div> 

<script>
    //function from slidesjs documentation
    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 528,
        play: {
          active: false,
            // [boolean] Generate the play and stop buttons.
            // You cannot use your own buttons. Sorry.
          effect: "fade",
            // [string] Can be either "slide" or "fade".
          interval: 5000,
            // [number] Time spent on each slide in milliseconds.
          auto: true,
            // [boolean] Start playing the slideshow on load.
          swap: true,
            // [boolean] show/hide stop and play buttons
          pauseOnHover: false,
            // [boolean] pause a playing slideshow on hover
          restartDelay: 2500
            // [number] restart delay on inactive slideshow
        },
        navigation: {
          active: false,
            // [boolean] Generates next and previous buttons.
            // You can set to false and use your own buttons.
            // User defined buttons must have the following:
            // previous button: class="slidesjs-previous slidesjs-navigation"
            // next button: class="slidesjs-next slidesjs-navigation"
          effect: "slide"
            // [string] Can be either "slide" or "fade".
        },
        pagination: {
          active: false,
            // [boolean] Create pagination items.
            // You cannot use your own pagination. Sorry.
          effect: "slide"
            // [string] Can be either "slide" or "fade".
        }
      });
    });
</script>

<% include ./partials/footer %>